<mat-toolbar color="primary" class="nav-bar">
    <span class="logo77">
        <img src="https://gateway.77soft.com/images/77whitetransparent.png" alt="77logo" height="35px"/>
    </span>

<div class="spacer" ></div>
    <a id="bookBtn" mat-button routerLink="book">Book</a>
    <a id="blogBtn" mat-button routerLink="blog">Blog</a>
    <a id="profileBtn" mat-button routerLink="profile">Profile</a>
    <a id="logoutBtn" mat-button routerLink="login" (click)="destroyToken()">Logout</a>

</mat-toolbar>


