#bookBtn:hover, #blogBtn:hover, #profileBtn:hover{
    //color: rgb(245, 247, 249);
    background-color: opacify($color: white, $amount: 1);
}

.spacer {
    flex: 1 1 auto;
}

.nav-bar{
    background-color: dodgerblue;
}

#logoutBtn {
    margin-left: 5px;
    background-color: rgb(220, 29, 29);
}

#logoutBtn:hover {
    color: red;
    background-color: white;
    
}


