.container{
    width: 50%;
    margin: auto;
}

#btn, #btn2{
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;
}

#title{
    text-align: center;
}

#action{
    margin-left: 20px;
}