<ul class="list-group">
    <li class="list-group-item"><strong>Id:</strong> {{blog?.id}}</li>
    <li class="list-group-item"><strong>Title: </strong> {{blog?.title}}</li>
    <li class="list-group-item"><strong>Description: </strong> {{blog?.description}}</li>
    <li class="list-group-item"><strong>Author: </strong> {{blog?.author}}</li>
    <li class="list-group-item"><strong>Comments: </strong> {{blog?.comments}}</li>
    <li class="list-group-item"><strong>Action: </strong> 
        <a [routerLink]="['/blog/form']"><button type="button" class="btn btn-primary" (click)="editBlog()">Edit</button></a>
        <button type="button" class="btn btn-danger" (click)="deleteBlog()">Delete</button>
    </li>
</ul>
<br>
