<form [formGroup]="userForm" (ngSubmit)="submit(userForm)" style="max-width:500px; margin:auto">
  <h2>Profile Form</h2>
  
  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input formControlName="email" class="input-field" type="text" placeholder="Email" name="email">
  </div>
  <div *ngIf="email && email.invalid && email.touched" class="alert alert-danger">Enter valid email</div>

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input formControlName="name" class="input-field" type="text" placeholder="Name" name="name">
  </div>
  <div *ngIf="name && name.invalid && name.touched" class="alert alert-danger">Name is required</div>

  <div class="input-container">
    <i class="fa fa-book icon"></i>
    <input formControlName="bio" class="input-field" type="text" placeholder="Bio" name="bio">
  </div>
  <div *ngIf="bio && bio.invalid && bio.touched" class="alert alert-danger">Bio is required</div>

  <div class="input-container">
    <div class="form-check">
      <input formControlName="active" class="form-check-input" type="radio" name="active" id="active" value="active" checked>
      <label class="form-check-label" for="active">
        Active
      </label>
    </div>
    <div class="form-check">
      <input formControlName="active" class="form-check-input" type="radio" name="active" id="inactive" value="inactive">
      <label class="form-check-label" for="active">
        Inactive
      </label>
    </div>
  </div>
  <div *ngIf="active && active.invalid && active.touched" class="alert alert-danger">Active is required</div>

  <button [disabled]="userForm.invalid" id="submitBtn" type="submit" class="btn">Submit</button>
</form>

