
<form style="max-width:500px;margin:auto">
  <h2>Profile Form</h2>
  
  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Name" name="name">
  </div>

  <div class="input-container">
    <i class="fa fa-book icon"></i>
    <input class="input-field" type="text" placeholder="Bio" name="bio">
  </div>

  <div class="input-container">
    <i class="fa fa-bolt icon"></i>
    <input class="input-field" type="text" placeholder="Active" name="active">
  </div>

  <button type="submit" class="btn">Submit</button>
</form>

