<form [formGroup]="userForm" (ngSubmit)="submit(userForm)" style="max-width:500px; margin:auto">
  <h2>Profile Form</h2>
  
  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input formControlName="email" class="input-field" type="text" placeholder="Email" name="email">
  </div>

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input formControlName="name" class="input-field" type="text" placeholder="Name" name="name">
  </div>

  <div class="input-container">
    <i class="fa fa-book icon"></i>
    <input formControlName="bio" class="input-field" type="text" placeholder="Bio" name="bio">
  </div>

  <div class="input-container">
    <div class="form-check">
      <input formControlName="active" class="form-check-input" type="radio" name="active" id="active" value="active" checked>
      <label class="form-check-label" for="active">
        Active
      </label>
    </div>
    <div class="form-check">
      <input formControlName="active" class="form-check-input" type="radio" name="active" id="inactive" value="inactive">
      <label class="form-check-label" for="active">
        Inactive
      </label>
    </div>
  </div>

  <button type="submit" class="btn">Submit</button>
</form>

